.buildlog
.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
.settings/
build/
packages
.packages
ios/.generated/
pubspec.lock
.flutter-plugins
local.properties
.xcconfig
.gradle
gradle-wrapper.properties
gradlew
gradlew.bat
gradle-wrapper.jar
course/03_category_route/task_03_category_route/ios/Runner.xcodeproj/project.pbxproj
